/* MOBILE FIRST */

/* Profile */
.profile {
    text-align: center;
}
.profile h1, div {
    margin: 10px 0;
}
.profile-avatar img {
    width: 70%;
}

/* TABLET STYLE */

@media(min-width: 768px) {

    /* Profile */
    .profile-avatar {
        width: 70%;
        margin: auto;
    }

}

/* DESKTOP STYLE */

@media(min-width: 1024px) {

    /* Profile */
    .profile-avatar {
        width: 50%;
    }

}