<!DOCTYPE html>
<html>
  <head>
    <title>Gastos App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Reporte de Gastos Diarios</h1>
    <h3 class="mostExpense">Persona que mas gasto: </h3>
    <h3 class="lowerExpense">Persona que menos gasto: </h3>
    <h3 class="totalExpense">Gastos totales: </h3>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
