* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url('../images/bg-2.png');
}
.container {
    width: 960px;
    margin: 0 auto;
}
#header {
    color: white;
    font-size: 25px;
    overflow: hidden;
    margin-top: 25px;
}
.nav-logo {
    float: left;
    width: 15%;
}
.nav-logo img {
    position: absolute;
}
.nav {
    margin-top: 35px;
    margin-left: 5px;
    padding: 10px;
    background-color: #ef4c27;
    border-radius: 10px;
    overflow: hidden;
}
.nav-nav {
    float: left;
    width: 50%;
    margin-left: 120px;
}
.user {
    float: right;
}
#header ul li {
    display: inline-block;
    padding-right: 20px;
    color: white;
}
#main {
    margin: 50px 0;
    overflow: hidden;
}
#products {
    width: 640px;
    background-color: white;
    border-radius: 10px;
    float: left;
}
.product {
    margin: 10px;
    width: 300px;
    float: left;
    color: black;
}
.product img {
    width: 100%;
}
.product h3 {
    margin: 10px 0;
}
.product button {
    background-color: #ef4c27;
    border: none;
    height: 30px;
    width: 70px;
    margin-top: 10px;
}
.product a {
    text-decoration: none;
    color: white;
}
#info {
    float: right;
    width: 300px;
}
.tutorial {
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin-bottom: 15px;
}
.tutorial h4 {
    padding: 10px;
    font-size: 25px;
}
.info-tutorial {
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 3fr;
    border: 1px solid #d2d2d2;
}
.info-tutorial .img img {
    width: 100%;
}
.info-tutorial .text {
    margin: 30px 5px;
}
.ads {
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin-bottom: 15px;
}
.ads h4 {
    padding: 10px;
    font-size: 25px;
}
.ads-image {
    padding: 5px;
}
.ads-image img {
    width: 100%;
}