<!-- Header and Menu -->
<header class="header">
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div class="header-logo col-md-3">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
            </div>
            <form class="form-search col-md-5">
                <input class="form-search-input" type="search" placeholder="Buscar productos, marcas y más">
                <button class="form-search-button" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <p class="header-text col-md-4"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <!-- Menu -->
        <div class="menu">
            <input type="checkbox" class="btn-menu">
            <label class="btn-label" for="btn-menu"><i class="fas fa-align-justify"></i></label>
            <nav class="nav">
                <ul class="nav-info">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-info">
                    <li>
                        <a href="#">Creá tu cuenta</a>
                        <i class="far fa-address-card"></i>
                    </li>
                    <li>
                        <a href="#">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#">Mis Compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>